@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import 'tailwindcss';

@layer base {
  /* For Webkit-based browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #1a1a1a; /* Dark track background */
  }

  ::-webkit-scrollbar-thumb {
    background: #4a4a4a; /* Darker thumb */
    border-radius: 100vh;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #6a6a6a; /* Slightly lighter on hover */
  }

  /* For Firefox */
  html {
    scrollbar-width: thin;
    scrollbar-color: #4a4a4a #1a1a1a;
  }
}

body {
  @apply bg-neutral-950 text-white;
  font-family: 'Inter', sans-serif;
}

.font-ibm {
  font-family: 'IBM Plex Sans', sans-serif;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}