@import url("https://fonts.googleapis.com/css2?family=Anton&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import 'tailwindcss';

@layer base {
  /* For Webkit-based browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #1a1a1a; /* Dark track background */
  }

  ::-webkit-scrollbar-thumb {
    background: #4a4a4a; /* Darker thumb */
    border-radius: 100vh;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #6a6a6a; /* Slightly lighter on hover */
  }

  /* For Firefox */
  html {
    scrollbar-width: thin;
    scrollbar-color: #4a4a4a #1a1a1a;
  }
}

body {
  @apply bg-neutral-950 text-white;
  font-family: 'Inter', sans-serif;
}

@theme {  
  --font-montserrat: "Montserrat", sans-serif;
  --font-anton: "Anton", sans-serif;
}


@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}


.gradient-circle { 
 width: 140vw; 
 height: 140vw; 
 background: radial-gradient(circle, rgba(66, 37, 140, 1) 0%, rgba(252,70,107,0) 70%); 
 border-radius: 50%; 
}

.btn-primary {
  @apply flex items-center space-x-2 text-neutral-400 hover:text-white transition-all duration-100 bg-neutral-900 hover:bg-neutral-950 border border-neutral-800/0 hover:border-neutral-800 px-4 py-2 rounded-lg
}